@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  color: inherit;
}
:root {
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: normal;
  --head-tri: polygon(0 100%, 0 0, 60% 0);
  --right_top_tri: polygon(0 -250px, 100% 0, 100% 100%);
  --left_btm_tri: polygon(0 0, 100% 300px, 0 100%);
  --parallelogram: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  --right_btm_tri: polygon(100% 0, 0 300px, 100% 100%);
  --trapezoid: polygon(0 12.5%, 100% 0, 100% 100%, 0 80%);
  --top_left_tri: polygon(0 100%, 0 0, 10% 0);
  --re-trapezoid: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
  --re-parallelogram: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
  --exclusive: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  --ex-parallelogram: polygon(0 20%, 100% 0, 100% 80%, 0 95%);
  --ex-trapezoid: polygon(0 20%, 100% 0, 100% 100%, 0 80%);

  --head-style: "Shippori Antique", sans-serif;
  --main-style: "M PLUS Rounded 1c", sans-serif;
  --main-color: #fffef9;
  --main-color80: #fffef9cc;
  --main-color95: #fffef9f2;
  --base-color: #006699;
  --base-color55: #0066998c;
  --base-color60: #00669999;
  --accent-color: #cccc00;
  --accent-color80: #cccc00cc;
  color: var(--main-color);
}
body h1,
h2,
h3,
h4 {
  font-family: var(--head-style);
}
body {
  font-family: var(--main-style);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.25rem;
}
.backimg {
  width: 100%;
  height: 100vh;
  background-image: url(./img/Top/topimg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.backimg.mono {
  height: 125vh;
}
.backimg.geo {
  background-image: url(./img/Top/bord.jpg);
  height: 125vh;
}
.backimg.tri {
  background-image: url(./img/Top/light_right.jpg);
  height: 132vh;
}
.backimg.que {
  background-image: url(./img/Top/yellow.jpg);
}
.backimg.pen {
  background-image: url(./img/Top/jump.jpg);
  height: 250vh;
  background-size: cover;
  background-position: center;
}
.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
main,
section,
footer {
  margin: calc(150vh - 125px) auto 0;
  margin: 0 auto;
  max-width: 100%;
}
header {
  max-width: 100%;
  width: 100%;
}
section {
  margin-top: 50vh;
}
section:first-child {
  margin: calc(100vh - 125px) auto 0;
}
#weather {
  margin-top: calc(125vh - calc(125px + 445px));
}
#gnav {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.5%;
  position: relative;
}
#gnav h1 {
  color: var(--base-color);
  position: absolute;
  top: 15px;
  left: 1.25%;
  z-index: 5;
}
#gnav h1:hover,
.site_map .map dd a:hover,
.footer_top .contact .content a:hover {
  opacity: 0.5;
}
.mat {
  width: 100%;
  height: 125px;
  position: relative;
  background: var(--accent-color80);
  clip-path: var(--head-tri);
}
#spbtn {
  width: 80px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: none;
}
#spbtn .component {
  display: block;
  width: 40px;
  height: 4px;
  background: var(--main-color);
  margin-top: 12.5px;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}
#spbtn .component:first-child {
  margin-top: 0;
}
#spbtn .component.active {
  margin-top: 0;
  position: absolute;
  transition: all 0.5s ease;
}
#spbtn .component:first-child.active {
  transform: rotate(135deg);
}
#spbtn .component:nth-child(2).active {
  display: none;
}
#spbtn .component:last-child.active {
  transform: rotate(-135deg);
}
#gnav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  font-size: 1.25rem;
}
#gnav ul .icon {
  width: 35px;
  height: 35px;
}
#gnav ul li {
  margin-inline: 5%;
}

#gnav ul li:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gnav ul li a {
  position: relative;
  z-index: 10;
  color: inherit;
  font-size: 1.25rem;
}
#gnav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: var(--accent-color80);
  position: absolute;
  top: 0;
  z-index: -1;
}
#button {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 5;
  cursor: pointer;
  transition: 0.4s;
}
#button.active {
  transition: 0.4s;
  transform: translateX(145%);
}
#label {
  background: #ddd;
  border-radius: 40px;
  width: 75px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}
#label.active {
  transition: 0.4s;
  background: chartreuse;
}
.wrapper {
  background: var(--main-color80);
  margin-inline: 5%;
}
.container,
.top_info {
  margin: 40px 5%;
  width: 50%;
  height: 50%;
}
.top_info {
  width: 60%;
  padding: 0 1.25%;
  margin-inline: 0;
}
.wrapper,
.weather,
#tempbox,
#currentbox,
.news,
.snowinfo,
#snowfall,
.news_area,
.content,
.site_map,
.box {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather,
.currentbox {
  height: 200px;
  text-align: center;
}
#weatherbox,
#tempbox {
  width: 50%;
}
#description,
#temperature {
  font-size: 0.8em;
}
.weather img {
  width: 35%;
  height: 100%;
}
.line {
  width: 5px;
  height: 40%;
  border-radius: 20px;
  margin-inline: 0.75%;
  background: var(--accent-color80);
  transform: skewX(-30deg);
}
.weather,
#currentbox {
  font-size: 2.5rem;
  border-top: 5px dotted var(--accent-color);
  /* padding-bottom: 20px; */
  margin-inline: 4%;
  justify-content: space-evenly;
}
#currentbox {
  padding: 40px 4%;
}
.weather {
  border-top: none;
  font-size: 2rem;
}
#tempbox {
  justify-content: center;
}
#year-date {
  font-size: 1.5rem;
}
#month-day {
  text-align: center;
  margin-left: 5%;
  display: flex;
}
#month {
  margin-top: -20px;
}
#month-day .line {
  height: 70px;
  margin-top: -1.25%;
  background: var(--main-color);
  transform: skewX(-40deg);
}
#date {
  margin-top: 20px;
  margin-left: 5px;
}
.container,
.snowinfo,
.text {
  background: var(--base-color60);
}
.news {
  margin-bottom: 40px;
  white-space: nowrap;
}
.news .latest {
  display: inline-block;
  color: var(--base-color);
  background: var(--main-color);
  padding: 10px 2.5%;
}
.news .text {
  background: var(--base-color60);
  overflow: hidden;
  padding: 10px 2.5%;
}

@keyframes slidetext {
  for {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.news .text p {
  animation: slidetext 30s linear infinite;
}
.snowinfo {
  padding: 0 2.5%;
}
iframe {
  width: 50%;
  height: 50%;
  aspect-ratio: 16/9;
}
.snow {
  width: 50%;
  padding: 20px 2.5%;
  margin-right: 4%;
  border-right: 5px dotted var(--accent-color);
}
#snowfall {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#snowfall img {
  width: 35%;
  height: 35%;
}
#snow {
  font-size: 2rem;
}
.back {
  background: var(--main-color80);
  position: relative;
}
.back h2,
#facilities h2,
#price h2,
#access h2 {
  color: var(--accent-color);
  position: absolute;
  top: 4%;
  left: 2.5%;
}
.parallelogram {
  clip-path: var(--parallelogram);
}
.base_origin {
  background: var(--base-color);
}
.base {
  background: var(--base-color60);
}
.PICKUP_back #right_top_tri {
  clip-path: var(--right_top_tri);
}
#Pickup {
  margin-top: 125vh;
}
@keyframes slideimg {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideimg2 {
  0% {
    transform: translateX(350%);
  }
  100% {
    transform: translateX(0%);
  }
}
.PICKUP_back .slide {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
}

.PICKUP_back .slidebox {
  margin-block: 60px;
  width: 50%;
  display: flex;
  align-items: center;
}
.PICKUP_back .slideimg {
  margin-right: 20px;
  width: 50%;
  min-width: 250px;
  display: flex;
  align-items: center;
  /* animation: slideimg 30s linear infinite; */
}
.PICKUP_back .slideimg.geo {
  transform: translateX(350%);
  /* animation: slideimg2 30s linear 15s infinite; */
}
#left_btm_tri {
  clip-path: var(--left_btm_tri);
}
#left_btm_tri a,
#left_btm_tri p,
#right_btm_tri a {
  color: var(--main-color);
  position: absolute;
  top: 40px;
  left: 2.5%;
  font-size: 1.75rem;
  transform: rotate(-6deg);
  font-family: var(--head-style);
  font-weight: bold;
}
#left_btm_tri p {
  top: 70px;
}
#right_btm_tri {
  clip-path: var(--right_btm_tri);
}
.trapezoid {
  clip-path: var(--trapezoid);
}
.news_back {
  display: grid;
  place-items: center;
}
.accent_origin {
  background: var(--accent-color);
}
.accent {
  background: var(--accent-color80);
}
.news_area {
  width: 80%;
  margin: 200px auto 100px;
  padding: 30px 2.5%;
  color: var(--base-color);
  font-weight: bold;
  font-family: initial;
}
.sort,
.contents {
  height: initial;
}
.news_area .sort {
  width: 20%;
}
.index_back,
.tag_area,
.category {
  margin-top: 30px;
  padding: 10px 2.5%;
  background: var(--main-color);
  border-radius: 20px;
  text-align: center;
}
.index_back,
.tag_area {
  border: none;
  cursor: pointer;
  color: var(--base-color);
  font-weight: bold;
  font-family: initial;
}
.tag_area:hover,
.tag_area.active {
  background: var(--base-color);
  color: var(--main-color);
}
.index_back {
  border-radius: 5px;
  margin-top: 0;
  padding: 20px 4%;
  cursor: unset;
}
.tag_area {
  width: 50%;
}
.news_area .contents {
  width: 80%;
  padding: 0 5%;
  margin-top: 66px;
}
.content {
  color: var(--base-color);
  margin-top: 27px;
}
.content time,
.content p {
  display: inline-block;
  width: 20%;
}

.topic.hide {
  opacity: 0;
}
.topic.apper {
  opacity: 1;
}
.topic.all {
  opacity: 1;
}
.category {
  width: 15%;
  margin-top: 0;
  padding: 10px 5px;
}
.content p {
  width: 60%;
}
#right_btm_tri a {
  left: auto;
  top: 35%;
  right: 1.5%;
  transform: none;
}
#Feature {
  margin-top: 0;
}
#Feature h2 {
  left: 10%;
}
#top_left_tri {
  background: var(--accent-color);
  clip-path: var(--top_left_tri);
  height: 400px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.feature_back {
  background: var(--base-color55);
  display: flex;
  align-items: center;
}
.feature_back .contents {
  margin: 0 auto;
  padding: 20% 5%;
}
.course,
.hotel {
  color: var(--main-color);
  width: 100%;
  margin-top: 60px;
  flex-direction: row-reverse;
}
.text {
  background: none;
  padding: 0 1.25%;
  /* width: 50%; */
}
.text h4 {
  margin-bottom: 30px;
}
.text p {
  line-height: 1.75;
  white-space: nowrap;
}
.text a {
  padding: 5px 0;
  background: var(--main-color);
  color: var(--base-color);
  display: block;
  margin-left: 50%;
  margin-top: 20px;
  width: 150px;
}
.text + img {
  width: 50%;
}
.hotel .text p:nth-of-type(2) {
  margin-left: 50%;
}
.feature_back img {
  width: 40%;
}
#Information .back.long {
  background: var(--main-color95);
}
#Information h2 {
  left: auto;
  right: 2.5%;
}
.re_trapezoid {
  clip-path: var(--re-trapezoid);
}
.info_back {
  background: var(--base-color55);
}
.items {
  margin-inline: auto;
  padding: 15% 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.item {
  width: 50%;
  margin: 20px 1.25%;
}
footer {
  background: var(--main-color);
  color: var(--base-color);
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 50px;
  text-align: center;
}
.footer_top,
.footer_btm {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-block: 3px solid var(--base-color);
  padding-block: 40px;
}
.footer_top .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_top .contact h2 {
  text-align: center;
  font-size: initial;
}
.footer_top .contact .content {
  margin-top: 20px;
  justify-content: space-evenly;
}
.footer_top .contact .content a {
  width: 25%;
  height: 25%;
  margin: 0 2.5%;
}
.footer_top address {
  font-size: 2rem;
  white-space: nowrap;
}
.footer_btm {
  border: none;
}
.site_map {
  max-width: 100%;
  margin: 0 auto;
  color: var(--base-color);
  align-items: initial;
}
.site_map .map {
  width: calc(100% / 4);
  padding-inline: 2.5%;
}
.site_map .map dd {
  margin-top: 20px;
}
.site_map .map:first-child {
  text-align: center;
}
.site_map .map:first-child dd {
  display: flex;
}
.site_map .map:first-child dd a {
  padding-inline: 8%;
}
.site_map .map:last-child iframe {
  width: auto;
}

/* 以下Mapページ */
.mapimg {
  background-image: url(./img/Map/slope2.jpg);
  vertical-align: bottom;
  background-position: center;
}
.term {
  color: var(--base-color);
  max-width: 100%;
  position: absolute;
  right: 2.5%;
  bottom: 5%;
}
.term h2::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: auto;
  width: 100px;
  height: 4px;
  background: var(--base-color);
}
.pagesec {
  margin-top: 200px;
}
.page_content {
  text-align: center;
  color: var(--base-color);
  position: relative;
}
.liftimg {
  position: relative;
}
.liftimg .page_content {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: var(--main-color80);
  padding: 40px 2.5%;
}
.page_content h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin: 5px auto 0;
  background-color: var(--base-color);
}
.liftimg .page_content dl {
  text-align: initial;
  font-weight: bold;
  color: var(--base-color);
  margin-block: 80px;
}
.liftimg .page_content .box {
  color: inherit;
  margin-top: 20px;
  font-size: 1.75rem;
  text-align: center;
}
.liftimg .page_content .box:first-child ~ .box dd {
  margin-right: 15%;
}
.liftimg .page_content a {
  font-size: 1.75rem;
  background: var(--base-color55);
  color: var(--main-color);
  padding: 20px 2.5%;
  font-weight: bold;
  transition: all 0.5s ease;
}
.liftimg .page_content a:hover {
  border-radius: 20px;
  /* transform: translateX(100%); */
  text-shadow: 5px 5px var(--base-color);
}
.page_content .content {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-block: 30%;
  position: relative;
}
.page_content .content img {
  position: absolute;
  top: 25%;
  left: -5%;
}
#map .page_content:nth-child(2) {
  margin-top: -15%;
}
.sort,
.contents,
.parent,
.text.main,
#form {
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}
.main {
  background: var(--main-color);
}
.text.main {
  text-align: initial;
  padding-block: 60% 20px;
}
.text.main h4 {
  margin-block: 20px;
}
.text.main p {
  margin-left: 4%;
}
.re_trapezoid .content {
  padding-bottom: 10%;
}
.re_trapezoid .content img {
  width: 50%;
}
.re_trapezoid .content .text {
  text-align: right;
  padding-block: 50px 10%;
}
.re_trapezoid .content .text p {
  line-height: 1.75;
}
.flexparent {
  text-align: initial;
  width: 50%;
  margin-left: auto;
  margin-top: 80px;
  border-block: 5px solid var(--base-color);
}
.flexparent .box {
  color: var(--base-color);
  margin-block: 30px;
  font-size: 1.25rem;
}
#test {
  width: 30%;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}
#usercity {
  border: 1px solid var(--base-color);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}
#testbtn {
  margin-left: 10%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--main-color);
  color: var(--base-color);
}
#testbtn:hover {
  background: var(--base-color60);
  color: var(--main-color);
}

/* 以下facilitiesページ */
.facilitiespage #gnav {
  color: var(--base-color);
}
.facilities {
  background-image: url(./img/Facilities/facilitiesimg.jpg);
  background-position: center;
}
.facilities h2,
.price h2 {
  color: var(--main-color);
}
.facilities h2::after,
.price h2::after {
  background-color: var(--main-color);
}
#facilities h2 {
  top: 2%;
}
#facilities h2::after,
#price h2::after,
#access h2::after {
  display: initial;
}
#facilities .exclusive {
  clip-path: var(--exclusive);
}
#facilities .page_content .box {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 5% 25%;
  align-items: initial;
}
.contents_data,
#facilities .page_content .sort {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  padding-left: 2.5%;
}
#facilities .page_content .sort {
  width: 20%;
  padding-left: 0;
}
#facilities .page_content .contents {
  display: none;
  transition: all 0.3s allow-discrete;
  opacity: 0;
}
#facilities .page_content .contents.display {
  display: initial;
  opacity: 1;
}
#facilities .page_content .contents .content {
  padding: 0;
  width: 75%;
  margin-top: 100px;
}
#facilities .page_content .contents .content:first-child {
  margin-top: 0;
}
#facilities .page_content .contents .content img {
  top: initial;
  left: -10%;
}
#facilities .page_content .contents .content .parent {
  padding-top: 100px;
  width: 100%;
}
#facilities .text {
  width: auto;
}
.Rest .content:first-child .text,
.Other .content:first-child .text,
.Other .content:last-child .text {
  padding-top: 70%;
}
.Rest .content:last-child .text {
  padding-top: 50%;
}
.contents_data h4 {
  color: var(--accent-color);
}
.Shop .content:last-child .text p:first-of-type,
.Other .content:first-child .text p:nth-of-type(2) {
  margin-left: 15%;
}
.Shop .content:last-child .text p:nth-of-type(4),
.Food .content:first-child .text p:last-child,
.Food .content:last-child .text p:last-child,
.Other .content:first-child .text p:nth-last-of-type(2) {
  margin-top: 20px;
}
.Food .content:first-child .text p:last-child,
.Food .content:last-child .text p:last-child,
.Other .content:first-child .text p:nth-last-of-type(2),
.Other .content:first-child .text p:last-child {
  margin-left: 30%;
}

/* 以下料金ページ */
.pricepage #gnav {
  color: var(--accent-color);
}
.pricepage main {
  background-color: var(--base-color);
}
.price {
  background-image: url(./img/Price/shopimg.jpg);
}
#price .parallelogram {
  padding-block: 25%;
  clip-path: var(--ex-parallelogram);
}
#price h2 {
  color: var(--main-color);
}
table {
  max-width: 100%;
  margin: 0 auto;
  width: 50%;
  font-family: initial;
}
thead {
  font-size: 2rem;
  border-bottom: 3px solid var(--base-color);
}
tr th:first-child,
tr td:first-child {
  width: 10%;
  border-right: 3px solid var(--base-color);
}
tr th:first-child ~ th,
tr td:first-child ~ td {
  width: 10%;
}
thead tr th:last-child,
tbody tr td:last-child {
  width: 15%;
}
th,
td {
  padding: 8px;
}
tbody td {
  font-size: 1.5rem;
  padding-block: 20px;
}
#pricetabel {
  margin-top: 60px;
}
#form {
  margin-top: 200px;
  position: relative;
}
#form h2 {
  color: unset;
}
#calculator {
  padding-top: 80px;
}
#calculator tr th:first-child,
#calculator tr td:first-child {
  border-right: none;
}
#calculator tr th:last-child,
#calculator tr td:last-child {
  width: 10%;
}
#calculate {
  font-size: 1.5rem;
  padding: 20px 2.5%;
  margin-block: 80px;
  color: var(--main-color);
  border: none;
  border-radius: 20px;
  background: var(--base-color);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.125);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
#calculate:hover {
  background: var(--main-color80);
  color: var(--base-color);
  box-shadow: 1.5px 2.5px var(--base-color55), -1.5px -2.5px var(--base-color55);
}
input[type="text"],
select {
  width: 100%;
  padding: 2.5%;
  color: var(--base-color);
  font-size: 1.125rem;
}

/* 以下accessページ */
.accesspage #gnav {
  color: unset;
}
.access {
  background-image: url(./img/Access/allimage.jpg);
}
.access .term {
  background: var(--main-color80);
  padding: 20px 2.5%;
}
#access {
  background: var(--main-color);
}
#access .parallelogram {
  clip-path: var(--re-parallelogram);
  position: relative;
  z-index: 10;
}
#access .re_trapezoid {
  position: relative;
  margin-top: -20%;
}
#access .content {
  padding: 15% 0;
}
#access .re_trapezoid .content {
  padding: 20% 0 5%;
}
#access .content .text {
  text-align: initial;
  color: var(--main-color);
  padding: 0 2.5%;
}
#access .re_trapezoid .content .text {
  color: var(--base-color);
}
.page_content iframe {
  width: 100%;
  padding-bottom: 20%;
}
#access .content img {
  position: static;
}

/* 以下sp */

/* スマートフォン対応 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .backimg {
    background-size: contain;
    background-position: initial;
  }
  .backimg.mono,
  .backimg.geo,
  .backimg.tri {
    height: 100vh;
  }
  .backimg.pen {
    height: auto;
    background-size: cover;
  }

  section {
    margin-top: 25vh;
  }
  #gnav ul li {
    margin: 10px 0;
  }
  #weather .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: auto;
    height: auto;
    margin-inline: 2.5%;
  }

  #Pickup {
    margin-top: 25vh;
  }

  .top_info {
    width: 100%;
    padding-inline: 2.5%;
  }

  .page_content {
    padding: 20px;
  }

  .page_content iframe {
    padding-bottom: 56.25%; /* 16:9 アスペクト比 */
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .text {
    padding: 10px;
  }
  footer {
    margin-inline: 2.5%;
  }

  .footer_top,
  .footer_btm {
    flex-direction: column;
    padding: 20px;
  }

  .footer_top .contact .content a {
    width: 50px;
    height: 50px;
  }
  .site_map {
    flex-wrap: wrap;
  }
}

/* タブレット対応 */
@media (max-width: 1024px) {
  #spbtn {
    display: block;
  }
  #gnav ul {
    display: none;
  }
  #gnav ul {
    font-size: 1rem;
  }

  .page_content {
    padding: 40px;
  }

  .content img {
    width: 80%;
  }

  .footer_top,
  .footer_btm {
    padding: 30px;
  }
}
